<Layouts.public>
  <div id="not-found" class="mx-auto max-w-2xl py-16 text-center">
    <h1 class="mt-6 font-display text-4xl font-bold sm:text-5xl">
      404 - It's not here
    </h1>
  </div>
</Layouts.public>
